body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	position: relative;

	display: flex;
	flex: none;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	position: relative;
}

main {
	display: flex;
}

canvas {
	/* border: 1px black solid; */
	width: fit-content;
	height: fit-content;
}

.toolbar {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.noInteract {
	user-select: none;
}
